<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MQTest.app — A simple tool to help identify which media queries your device responds to.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e6555a">
    <meta name="msapplication-TileColor" content="#29313c">
    <meta name="theme-color" content="#e6555a">
    <link rel="stylesheet" href="../styles/index.scss">
    <script src="../scripts/index.ts"></script>
  </head>
  <body>
    <div class="app">
      <h1 class="title">
        <a href="http://MQTest.app">MQTest.app</a>
      </h1>
      <h2 class="subtitle">A simple tool to help identify which media queries your device responds&nbsp;to.</h2>
      <div class="info">
          <button class="info__button js-info-button" title="More info">?</button>
          <p id="info" class="info__text js-info">This test isn’t about what media que&shy;ries your device <a href="http://www.jordanm.co.uk/palmreader" target="_blank" rel="noopener noreferrer">can or cannot</a> see (but it does show an 'unsupported' label if a device doesn‘t support something). In&shy;stead it shows you which dimen&shy;sions your de&shy;vice will res&shy;pond to when using ‘width=device-width,initial-scale=1.’</p>
      </div>
      <button class="button js-refresh">Refresh tests <span class="js-iterations"></span></button>
      <div class="result">
        <h3 class="result__title">Device responds to</h3>
        <div class="result__content js-data">
        </div>
      </div>
      <div class="result">
        <h3 class="result__title">User agent</h3>
        <div class="result__content">
          <p class="result__line js-useragent"></p>
        </div>
      </div>
      <p class="footer">Managed by <a href="http://twitter.com/johannpinson" target="_blank" rel="noopener noreferrer">Johann Pinson</a>. Originally built by Viljami Salminen, some parts of the tests adop&shy;ted from <a href="http://www.quirksmode.org/m/tests/widthtest_vpdevice.html" target="_blank" rel="noopener noreferrer">Quirks&shy;mode.org</a>, <a href="http://andrew.hedges.name/experiments/aspect_ratio/" target="_blank" rel="noopener noreferrer">Aspect Ratio Calculator</a> and <a href="http://bbc-news-prototypes.heroku.com/reporter/index.html" target="_blank" rel="noopener noreferrer">BBC’s Device Reporter</a>.</p>
    </div>
  </body>
</html>
